{if $pageLimit->getMaxPageNum() > 1}
	<div class="pager">
		{assign var="link" value=$pageLimit->getPrevLink()}
		<div class="prev_pages">
			{if ($link)}
				<a href="{$link}" class="prevnext_active">&laquo; előző oldal</a>
			{else}
				<span class="prevnext_inactive">&laquo; előző oldal</span>
			{/if}
		</div>		
		{assign var="link" value=$pageLimit->getNextLink()}
		<div class="next_pages">
			{if ($link)}
				<a href="{$link}" class="prevnext_active">következő oldal &raquo;</a>
			{else}
				<span class="prevnext_inactive">következő oldal &raquo;</span>
			{/if}
		</div>
		
		Oldalak:	
		{foreach from=$pageLimit->pickPages() key=k item=i}
			{if $i == "..."}
				{$i}
			{else}
				{if (isset($smarty.get.p) && ($smarty.get.p == $k)) || (!isset($smarty.get.p) && !$k)}
					{$i}
				{else}
					<a href="{$pageLimit->getPageLink($k)}">{$i}</a>
				{/if}
			{/if}
		{/foreach}		
	</div>
{/if}