<IfModule mod_php5.c>
 	php_flag display_errors 1
	php_value register_globals 0
	php_value magic_quotes_gpc 0
	php_value magic_quotes_runtime 0
    php_value session.auto_start 0
    php_value session.use_trans_sid 0
    php_value session.use_cookies 1
	php_value default_charset UTF-8
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteCond %{REQUEST_URI} ^/webroot/([a-zA-Z0-9_\-]*)/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/webroot/media/%1 -d
    RewriteCond %{DOCUMENT_ROOT}/webroot/media/%1/%2 -f
    RewriteRule (.*) /webroot/media/$1 [L]

    RewriteCond %{REQUEST_URI} ^/webroot/images/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/webroot/media/images/%1 !-f
    RewriteRule (.*) /webroot/media/images/404.php [L]

    RewriteCond %{REQUEST_URI} ^/([a-zA-Z0-9_\-]*)/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/media/%1 -d
    RewriteCond %{DOCUMENT_ROOT}/media/%1/%2 -f
    RewriteRule (.*) /media/$1 [L]

    RewriteCond %{REQUEST_URI} ^/images/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/media/images/%1 !-f
    RewriteRule (.*) /media/images/404.php [L]

    RewriteCond %{DOCUMENT_ROOT} ^(.*?)/webroot$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /webroot/index.php [L]
</IfModule>
